<div class="edit">

    <div class="edit-head">
        <input type="text" class="head-title" ng-model="name">
        <div class="head-url">http://{{app.id}}.watchsettings.com/</div>
    </div>

    <ul class="edit-pages">


        <!--<li class="page landing-page">
            <div class="page-sim">
                <div class="sim-screen">
                    <div class="screen-head">
                        <div class="head-title">{{name}}</div>
                    </div>

                    <div class="screen-body" style="background-color: #{{landing.color}}">

                        <div class="body-image">
                            <img class="image" ng-src="{{landing.image}}">
                        </div>

                        <p class="body-copy">{{landing.copy}}</p>

                        <a href="" class="body-cta">Sign In<span ng-show="landing.provider">to {{landing.provider}}</span></a>

                    </div>
                </div>
            </div>

            <div class="page-change">

                <div class="label">Settings Color</div>

                <ul class="change-colors">
                    <li class="color" ng-class="{ 'active-color' : landing.color === color}" ng-repeat="color in colorOptions" ng-click="changeColor(color)" style="background-color: #{{color}}"></li>
                </ul>

                <div class="label">Landing Image</div>

                <ul class="change-images">
                    <li class="image" ng-class="{ 'active-image' : landing.image === image}" ng-repeat="image in imageOptions" ng-click="changeImage(image)" style="background-color: #{{landing.color}}">
                        <img src="{{image}}">
                    </li>
                </ul>

                <div class="label">Landing Description</div>

                <textarea ng-model="landing.copy" class="change-copy"></textarea>

                <div class="label">Oauth Service</div>

                <input type="text" ng-model="landing.provider" class="change-provider" placeholder="Service Name">
                <input type="text" ng-model="landing.redirectHref" class="change-redirect" placeholder="http://service.com/oauth">
            </div>
        </li>


        <li class="page oauth-page">
            <div class="page-sim">
                <div class="sim-screen">
                    <div class="screen-head">
                        <div class="head-title">{{name}}</div>
                    </div>

                    <div class="screen-body" style="background-color: #{{landing.color}}">

                        <iframe class="body-iframe" src="https://connect.starbucks.com/OAuth/sign-in"></iframe>
                        <div class="body-iframe-cover"></div>

                    </div>
                </div>
            </div>

            <div class="page-change">

                <div class="label">Oauth Service</div>

                <input type="text" ng-model="landing.provider" class="change-provider" placeholder="Service Name">
                <input type="text" ng-model="landing.redirectHref" class="change-service-url" placeholder="http://service.com/oauth">

                <div class="label">Redirect URL</div>

                <input type="text" class="change-redirect" value="http://{{app.id}}.watchsettings.com/settings" readonly>

            </div>
        </li> -->

        <li class="page settings-page">
            <div class="page-sim">
                <div class="sim-screen">
                    <div class="screen-head">
                        <div class="head-title">{{name}}</div>
                    </div>

                    <div class="screen-body">

                        <ul class="body-lists">

                            <li ng-repeat="list in settingsList" class="list {{list.type}}-list">

                                <div ng-show="list.type == 'title'">
                                    <div class="list-title">{{list.data.value}}</div>
                                </div>

                                <div ng-show="list.type == 'text'">
                                    <p class="list-text">{{list.data.value}}</p>
                                </div>

                                <div ng-show="list.type == 'toggle'">

                                    <div class="list-toggle">
                                        <div class="toggle-name">{{list.data.name}}</div>
                                        <div class="toggle-switch">
                                            <input type="checkbox" id="switch" class="switch">
                                            <label for="switch" class="switch-bg" style="background: #{{landing.color}}">
                                                <span class="switch-tab"></span>
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div ng-show="list.type == 'radio'" class="list-radio">
                                    <ul>
                                        <li class="radio" ng-repeat="option in list.data.options">

                                            <div class="radio-name">{{option.name}}</div>
                                            <input type="radio" name="color" value="{{option.id}}" checked="{{option.checked}}">
                                            <div class="radio-box" style="background: #{{landing.color}}"></div>

                                        </li>
                                    </ul>
                                </div>

                                <div ng-show="list.type == 'input'" class="list-input">
                                    <input type="text" class="input" placeholder="{{list.data.placeholder}}">
                                </div>

                                <div class="handle">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="page-change">

                <div class="label">Add Items</div>

                <ul class="change-add">
                    <li class="add title-add">
                        <div class="add-icon">
                            <div class="icon">
                                <span>T</span>
                            </div>
                        </div>
                        <div class="add-label">title</div>
                    </li>
                    <li class="add text-add">
                        <div class="add-icon">
                            <div class="icon">
                                <span>Ab</span>
                            </div>
                        </div>
                        <div class="add-label">text</div>
                    </li>
                    <li class="add toggle-add">
                        <div class="add-icon">
                            <div class="icon">
                                <div></div>
                            </div>
                        </div>
                        <div class="add-label">toggle</div>
                    </li>
                    <li class="add radio-add">
                        <div class="add-icon">
                            <div class="icon">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="add-label">radio</div>
                    </li>
                    <li class="add input-add">
                        <div class="add-icon">
                            <div class="icon">
                                <span>In</span>
                            </div>
                        </div>
                        <div class="add-label">input</div>
                    </li>
                </ul>

                <ul class="change-list-settings">

                    <li ng-repeat-reorder="setting in settingsList" ng-repeat-reorder-handle=".handle" class="setting {{setting.type}}-setting" ng-show="setting.type">

                        <div ng-show="setting.type == 'title'">
                            <input type="text" class="title-input" placeholder="Title" value="{{setting.data.value}}">
                        </div>

                        <div ng-show="setting.type == 'text'">
                            <textarea class="text-textarea" placeholder="Paragraph text">{{setting.data.value}}</textarea>
                        </div>

                        <div ng-show="setting.type == 'toggle'">
                            <input type="text" class="toggle-name" placeholder="Toggle Name" value="{{setting.data.name}}">
                            <input type="text" class="toggle-id" placeholder="ID" value="{{setting.data.id}}">
                        </div>

                        <div ng-show="setting.type == 'radio'">
                            <ul>
                                <li class="radio" ng-repeat="option in setting.data.options">
                                    <input type="text" class="radio-name" placeholder="Radio #1 Name" value="{{option.name}}">
                                    <input type="text" class="radio-id" placeholder="ID" value="{{option.id}}">
                                </li>
                            </ul>
                        </div>

                        <div ng-show="setting.type == 'input'">
                            <input type="text" class="input-placeholder" placeholder="Placeholder" value="{{setting.data.placeholder}}">
                            <input type="text" class="input-id" placeholder="ID" value="{{setting.data.id}}">
                        </div>

                        <div class="handle">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                        <div class="delete" ng-click="delete($index)">
                            <span>✕</span>
                        </div>
                    </li>
                </ul>


            </div>
        </li>



    </ul>



</div>
